<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casas</title>
</head>
<body>
    <nav>
        <div>
            <h2>Selecciona tu casa</h2>
        </div>
    </nav>
    <section>
        <h1>Casas CursoWEb2023</h1>
        <div>
            <a>Ajolotes</a>
            <div>
                <img>
            </div>
        </div>

        <div>
            <a>Teporingos</a>
            <div>
                <img>
            </div>
        </div>

        <div>
            <a>Halcones</a>
            <div>
                <img>
            </div>
        </div>
    </section>
</body>
</html>