<section class="container mt-5" style="margin-top: 15%;">
    <h1>Casas CursoWeb2023</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <a class="card-title">Ajolotes</a>
                    <div>
                        <img class="img-fluid" src="../../statics/media/ajolotes.jpeg" alt="Ajolotes">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <a class="card-title">Teporingos</a>
                    <div>
                        <img class="img-fluid" src="../../statics/media/teporingos.jpeg" alt="Teporingos">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <a class="card-title">Halcones</a>
                    <div>
                        <img class="img-fluid" src="../../statics/media/halcones.jpeg" alt="Halcones">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
