<div class="container" style="margin-top: 5%;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <input type="text" class="form-control" id="usuario">
                </div>
                <div class="form-group">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" class="form-control" id="contraseña">
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
                <button type="reset" class="btn btn-secondary">Borrar</button>
                <br>
                <a href="#">No tengo cuenta</a>
            </form>
        </div>
    </div>
</div>
